body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerUpper, .headerLower, .footer{

    background-color: #1F2937;

    display: flex;
  
    
}

.Logo {

    font-size: 24px;
    color: #f9faf8;

}


.headerUpper {

    justify-content: space-between;
    flex-direction: row;
    padding: 15px;

}

button{

    background-color: #3882f6;
}

.contentCenter {

    background-color: #e5e7eb;
}


.placeHolder {

    background-color: gray;
    height: 100px;
    width: 100px;
}


ul {

    list-style: none;
    display: flex;
    gap: 15px;

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


